{% extends 'base_client_wrapper.twig' %}

{% block content %}
    <main>
        <section class="section hero-large">
            <div class="container">
                <h1 class="hero-large__title">Личный кабинет</h1>
                <p class="hero-large__subtitle">Добрый день, Иван Иванович!</p>
            </div>
        </section>
        <div class="bg-purple-line"></div>
        <section class="section account section-with-bghearts">
            <div class="container container--small">
                <div class="account-wrapper">
                    {% include 'components/account_nav.twig' %}
                    <div class="account-content donation-history">
                        <h1 class="account-content__title donation-history-title account-content-padding">
                            Список моих пожертвований </h1>
                        <div class="donation-list account-content-padding">
                            <table class="donation-list-table">
                                <thead class="donation-list-table__head">
                                <tr>
                                    <th class="donation-list-table__head-col">Название</th>
                                    <th class="donation-list-table__head-col">Сумма</th>
                                    <th class="donation-list-table__head-col">Дата</th>
                                </tr>
                                </thead>
                                <tbody class="donation-list-table__body">
                                {% for req in entities %}
                                    <tr class="donation-list-table__row">
                                        <td class="donation-list-table__body-col">{% if req.child == null %} Регулярное пожертвование фонду {% else %} {{ req.child.name }} {% endif %}</td>
                                        <td class="donation-list-table__body-col">{{ req.sum|number_format(2, '.', ' ') }}
                                            руб.
                                        </td>
                                        <td class="donation-list-table__body-col">{{ req.createdAt|date('d m Y') }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
