{% extends 'base_client_wrapper.twig' %}

{% block content %}
    <main>
        <section class="section hero-large">
            <div class="container">
                <h1 class="hero-large__title">Контакты</h1>
                <p class="hero-large__subtitle">Обращайтесь к нам по всем интересующим Вас вопросам</p>
            </div>
        </section>
        <div class="bg-purple-line"></div>
        <section class="section contacts section-with-bghearts">
            <div class="container container--small">
                <div class="contacts-wrapper">
                    {% include 'components/requisites.twig' %}
                    <div class="contacts-map" id="contacts-ya-map"></div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
