{% extends 'base_client_wrapper.twig' %}

{% block content %}

    <main>
        <section class="section hero-large">
            <div class="container">
                <h1 class="hero-large__title">Контакты</h1>
                <p class="hero-large__subtitle">Обращайтесь к нам по всем интересующим Вас вопросам</p>
            </div>
        </section>
        <div class="bg-purple-line"></div>
        <section class="section contacts section-with-bghearts">
            <div class="container container--small">
                <div class="contacts-wrapper">
                    <div class="contacts-details">
                        <h2 class="contacts-details__title">
                            Мы - Благотворительный фонд помощи детям с ДЦП. Электронный способ приема платежей - ваше спокойствие,
                            наша прозрачность.
                        </h2>
                        <div class="contacts-details-content">
                            <div class="contacts-details__row">
                                <div class="contacts-details__row-name">Реквизиты фонда</div>
                                <div class="contacts-details__row-value">
                                    Полное наименование Благополучателя: Благотворительный фонд помощи детям «Помогите детям»<br />
                                    Краткое название Благополучателя: БФ помощи детям «Помогите детям»<br />
                                    Юридический адрес: Россия, Чувашская Республика, г. Новочебоксарск, ул. 10-й Пятилетки, владение
                                    17И<br />
                                    ОГРН: 1132100001054<br />
                                    ИНН/КПП: 2124999727/212401001<br />
                                    <br />
                                </div>
                            </div>
                            <div class="contacts-details__row">
                                <div class="contacts-details__row-name">Банковские реквизиты</div>
                                <div class="contacts-details__row-value">
                                    Чувашское отделение №8613<br />
                                    ПАО СБЕРБАНК г. Чебоксары<br />
                                    К/С: 30101810300000000609<br />
                                    БИК: 049706609<br />
                                    Счет: 40703810675000000543<br />
                                </div>
                            </div>
                            <div class="contacts-details__row">
                                <div class="contacts-details__row-name">Контакты для связи, если у вас возникли вопросы</div>
                                <div class="contacts-details__row-value">
                                    Телефон горячей линии: <b>8 (800) 600 09 06</b><br />
                                    Адрес электронной почты: <b>fond.detyam@mail.ru</b>
                                </div>
                            </div>
                            <div class="contacts-details__row">
                                <div class="contacts-details__row-name">Мы на карте</div>
                                <div class="contacts-details__row-value"></div>
                            </div>
                        </div>
                    </div>
                    <div class="contacts-map" id="contacts-ya-map"></div>
                </div>
            </div>
        </section>
    </main>

{% endblock %}
