{% extends 'base_client_wrapper.twig' %}

{% block content %}
    <main>
        <section class="section hero-small">
            <div class="container">
                <h1 class="hero-small__title">Партнеры фонда</h1>
            </div>
        </section>
        <section class="section partners section-with-bghearts">
            <div class="container container-pagecontent-padding">
                <ul class="partners-list">
                    <li class="partners-list__item">
                        <div class="partner">
                            <div class="partner-logo">
                                <img class="img-responsive"
                                    src="/images/partners-sgroup.png"
                                    alt="Партнер SGroup"
                                    width="180">
                            </div>
                            <div class="partner-description">
                                <div class="partner-description__name">SGroup</div>
                                <p class="partner-description__notice">
                                    Успешный холдинг, зарекомендовавший себя в нашей республике и реализовавший уже пять
                                    разноплановых
                                    развлекательных проектов в сфере общественного питания. </p>
                                <div class="partner-description__contacts">
                                    <a class="partner-description__link" target="_blank" href="http://www.s-group.pro/">Ссылка на
                                        сайт</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="partners-list__item">
                        <div class="partner">
                            <div class="partner-logo">
                                <img class="img-responsive"
                                    src="/images/partners-autoradio.png"
                                    alt="Партнер Авторадио"
                                    width="180">
                            </div>
                            <div class="partner-description">
                                <div class="partner-description__name">Авторадио</div>
                                <p class="partner-description__notice">
                                    Авторадио является станцией №1 среди тех, кто слушает радио в машине. </p>
                                <div class="partner-description__contacts">
                                    <a class="partner-description__link" target="_blank" href="http://www.avtoradio.ru/radio/city/205">Ссылка
                                        на сайт</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="partners-list__item">
                        <div class="partner">
                            <div class="partner-logo">
                                <img class="img-responsive"
                                    src="/images/partners-progorod.png"
                                    alt="Партнер Прогород"
                                    width="180">
                            </div>
                            <div class="partner-description">
                                <div class="partner-description__name">Прогород</div>
                                <p class="partner-description__notice"></p>
                                <div class="partner-description__contacts">
                                    <a class="partner-description__link" target="_blank" href="https://pg21.ru">Ссылка на сайт</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="partners-list__item">
                        <div class="partner">
                            <div class="partner-logo">
                                <img class="img-responsive"
                                    src="/images/partners-alfagenesis.png"
                                    alt="Партнер ALFA GENESIS"
                                    width="180">
                            </div>
                            <div class="partner-description">
                                <div class="partner-description__name">ALFA GENESIS</div>
                                <p class="partner-description__notice">
                                    Приоритет разработки - комфортный пользовательский опыт с максимально эффективной
                                    функциональностью
                                    для бизнеса. Каждый сервис мы разрабатываем для Вас. </p>
                                <div class="partner-description__contacts">
                                    <a class="partner-description__link" target="_blank" href="http://alfagenesis.ru/">Ссылка на
                                        сайт</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="partners-list__item">
                        <div class="partner">
                            <div class="partner-logo">
                                <img class="img-responsive" src="/images/partners-yaponski-dvorik.png" alt="Партнер Японский дворик" width="180">
                            </div>
                            <div class="partner-description">
                                <div class="partner-description__name">Японский дворик</div>
                                <p class="partner-description__notice">
                                    «Японский дворик»- сеть городских кафе, в которых совмещаются форматы японской и европейской кухни.
                                </p>
                                <div class="partner-description__contacts">
                                    <a class="partner-description__link" target="_blank" href="http://www.japandvorik21.ru/">Ссылка на сайт</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="partners-list__item">
                        <div class="partner">
                            <div class="partner-logo">
                                <img class="img-responsive" src="/images/partners-dom-mod.jpg" alt="Партнер Дом Мод" width="180">
                            </div>
                            <div class="partner-description">
                                <div class="partner-description__name">Дом Мод</div>
                                <p class="partner-description__notice">
                                    Торгово-офисный центр «Дом Мод» - одно из крупнейших предприятий торговли в Чебоксарах - расположен в исторической части города, на набережной залива.
                                </p>
                                <div class="partner-description__contacts">
                                    <a class="partner-description__link" target="_blank" href="http://dom-mod.com/">Ссылка на сайт</a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
    </main>
{% endblock %}
