{% extends 'base_client_wrapper.twig' %}

{% block title %}БФ “Помогите Детям” | Партнёры{% endblock %}
{% block desciption %}БФ “Помогите Детям” | Партнёры{% endblock %}
{% block keywords %}Партнёры{% endblock %}

{% block content %}
    <main>
        <section class="section hero-small">
            <div class="container">
                <h1 class="hero-small__title">Партнеры фонда</h1>
            </div>
        </section>
        <section class="section partners section-with-bghearts">
            <div class="container container-pagecontent-padding">
                <ul class="partners-list">
                    <li class="partners-list__item">
                        <div class="partner">
                            <div class="partner-logo">
                                <img class="img-responsive"
                                     src="/images/partners-dobrye-ruki.png"
                                     alt="Партнер Реабилитационный центр ""Добрые руки"""
                                     width="180">
                            </div>
                            <div class="partner-description">
                                <div class="partner-description__name">Реабилитационный центр "Добрые руки"</div>
                                <p class="partner-description__notice">
                                    Основным направлением деятельности Реабилитационного центра "Добрые руки" является реабилитация детей и подростков с диагнозами: детский церебральный паралич (ДЦП), ранний детский аутизм (РДА), задержка психического развития (ЗПР), задержка психо-речевого развития (ЗПРР), синдром дефицита внимания с гиперактивным поведением (СДВГ)</p>
                                <div class="partner-description__contacts">
                                    <a class="partner-description__link" target="_blank" href="http://rea.center">Ссылка
                                        на
                                        сайт</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="partners-list__item">
                        <div class="partner">
                            <div class="partner-logo">
                                <img class="img-responsive"
                                     src="/images/partners-sgroup.png"
                                     alt="Партнер SGroup"
                                     width="180">
                            </div>
                            <div class="partner-description">
                                <div class="partner-description__name">SGroup</div>
                                <p class="partner-description__notice">
                                    Успешный холдинг, зарекомендовавший себя в нашей республике и реализовавший уже пять
                                    разноплановых
                                    развлекательных проектов в сфере общественного питания. </p>
                                <div class="partner-description__contacts">
                                    <a class="partner-description__link" target="_blank" href="http://www.s-group.pro/">Ссылка
                                        на
                                        сайт</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="partners-list__item">
                        <div class="partner">
                            <div class="partner-logo">
                                <img class="img-responsive"
                                     src="/images/partners-autoradio.png"
                                     alt="Партнер Авторадио"
                                     width="180">
                            </div>
                            <div class="partner-description">
                                <div class="partner-description__name">Авторадио</div>
                                <p class="partner-description__notice">
                                    Авторадио - Крупнейшая коммерческая радиостанция. Входит в ТОП-5 самых популярных
                                    радиостанций в
                                    России.
                                </p>
                                <div class="partner-description__contacts">
                                    <a class="partner-description__link" target="_blank"
                                       href="http://www.avtoradio.ru/radio/city/205">Ссылка
                                        на сайт</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="partners-list__item">
                        <div class="partner">
                            <div class="partner-logo">
                                <img class="img-responsive"
                                     src="/images/partners-progorod.png"
                                     alt="Партнер Прогород"
                                     width="180">
                            </div>
                            <div class="partner-description">
                                <div class="partner-description__name">Прогород</div>
                                <p class="partner-description__notice">
                                    «Про Город» — самая читаемая новостная платформа в Чувашии: общий охват аудитории
                                    более миллиона
                                    читателей в месяц!
                                </p>
                                <div class="partner-description__contacts">
                                    <a class="partner-description__link" target="_blank" href="https://pg21.ru">Ссылка
                                        на сайт</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="partners-list__item">
                        <div class="partner">
                            <div class="partner-logo">
                                <img class="img-responsive"
                                     src="/images/partners-alfagenesis.png"
                                     alt="Партнер ALFA GENESIS"
                                     width="180">
                            </div>
                            <div class="partner-description">
                                <div class="partner-description__name">ALFA GENESIS</div>
                                <p class="partner-description__notice">
                                    Приоритет разработки - комфортный пользовательский опыт с максимально эффективной
                                    функциональностью
                                    для бизнеса. Каждый сервис мы разрабатываем для Вас. </p>
                                <div class="partner-description__contacts">
                                    <a class="partner-description__link" target="_blank" href="http://alfagenesis.ru/">Ссылка
                                        на
                                        сайт</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="partners-list__item">
                        <div class="partner">
                            <div class="partner-logo">
                                <img class="img-responsive" src="/images/partners-yaponski-dvorik.png"
                                     alt="Партнер Японский дворик" width="180">
                            </div>
                            <div class="partner-description">
                                <div class="partner-description__name">Японский дворик</div>
                                <p class="partner-description__notice">
                                    «Японский дворик»- сеть городских кафе, в которых совмещаются форматы японской и
                                    европейской кухни.
                                </p>
                                <div class="partner-description__contacts">
                                    <a class="partner-description__link" target="_blank"
                                       href="http://www.japandvorik21.ru/">Ссылка на сайт</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="partners-list__item">
                        <div class="partner">
                            <div class="partner-logo">
                                <img class="img-responsive" src="/images/partners-dom-mod.jpg" alt="Партнер Дом Мод"
                                     width="180">
                            </div>
                            <div class="partner-description">
                                <div class="partner-description__name">Дом Мод</div>
                                <p class="partner-description__notice">
                                    Торгово-офисный центр «Дом Мод» - одно из крупнейших предприятий торговли в
                                    Чебоксарах - расположен в исторической части города, на набережной залива.
                                </p>
                                <div class="partner-description__contacts">
                                    <a class="partner-description__link" target="_blank" href="http://dom-mod.com/">Ссылка
                                        на сайт</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="partners-list__item">
                        <div class="partner">
                            <div class="partner-logo">
                                <img class="img-responsive" src="images/partners-kaysarow.png" alt="Партнер KAYSAROW"
                                     width="180">
                            </div>
                            <div class="partner-description">
                                <div class="partner-description__name">KAYSAROW</div>
                                <p class="partner-description__notice">
                                    Крупнейшая швейная фабрика основана в 1987 году. в ассортимент выпускаемой продукции
                                    группы компаний KAYSAROW входят коллекции мужской, женской и детской верхней одежды,
                                    спортивная одежда, школьная форма, трикотаж, вязаные головные уборы, блузки,
                                    спецодежда для технических работников авиации.
                                </p>
                                <div class="partner-description__contacts">
                                    <a class="partner-description__link" target="_blank" href="http://kaysarow.ru">Ссылка
                                        на сайт</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="partners-list__item">
                        <div class="partner">
                            <div class="partner-logo">
                                <img class="img-responsive" src="images/ekzarta.jpg" alt="Партнер Экзарта"
                                     width="180">
                            </div>
                            <div class="partner-description">
                                <div class="partner-description__name">Центр медицинской реабилитации "Экзарта"</div>
                                <p class="partner-description__notice">
                                    Центр медицинской реабилитации "Экзарта" -  это первый в Нижнем Новгороде центр, оснащенный всем необходимым оборудованием и технологиями для медицинской реабилитации детей и взрослых. Центр специализируется на лечении детей с нарушениями опорно-двигательного аппарата, патология
                                </p>
                                <div class="partner-description__contacts">
                                    <a class="partner-description__link" target="_blank" href="https://ekzarta.ru">Ссылка
                                        на сайт</a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="container container--small">
                <div class="donate-form-wrapper news-detail-donate-form-wrapper donate-form-wrapper-partners">
                    {% include 'components/donate_form.twig' %}
                </div>
            </div>
        </section>
    </main>
{% endblock %}
