{% extends 'base_client_wrapper.twig' %}

{% block title %}БФ “Помогите Детям” | Отчеты{% endblock %}
{% block desciption %}БФ “Помогите Детям” | Отчеты{% endblock %}
{% block keywords %}Отчеты{% endblock %}

{% block content %}
    <main>
        <section class="section hero-small">
            <div class="container">
                <h1 class="hero-small__title">Отчеты фонда</h1>
                <p class="hero-small__subtitle">
                    Благотворительный фонд «Помогите детям» начал свою фактическую деятельность в 2019 году </p>
            </div>
        </section>
        <section class="section reports">
            <div class="container container-pagecontent-padding">
                <h2 class="section-title">Бухгалтерская отчетность</h2>
                <div class="reports-content">
                    <ul class="report-list">
                        <li class="report-list__item">
                            <div class="report">
                                <div class="report-doc">
                                    <img class="report-doc__image"
                                         src="/images/doc-example.png"
                                         alt="Аудиторское заключение 2016"
                                         width="208"
                                         height="250">
                                    <a class="show-doc-button" href="/docs/Audit_conclusion_2016.pdf" target="_blank">
                                        <span class="show-doc-button__circle">
                                            <span class="icon icon-doc"></span>
                                        </span>
                                    </a>
                                </div>
                                <div class="report-description">
                                    <h3 class="report-description__title">Аудиторское заключение</h3>
                                    <p class="report-description__date">От 28.03.2017</p>
                                    <div class="report-description__download">
                                        <a class="report-description__download-link" target="_blank"
                                           href="/docs/Audit_conclusion_2016.pdf">Скачать</a>
                                    </div>
                                    <div class="report-description__size">32,9 мб.</div>
                                </div>
                            </div>
                        </li>
                        <li class="report-list__item">
                            <div class="report">
                                <div class="report-doc">
                                    <img class="report-doc__image"
                                         src="/images/doc-example.png"
                                         alt="Аудиторское заключение 2017"
                                         width="208"
                                         height="250"/>
                                    <a class="show-doc-button" href="/docs/Audit_conclusion_2017.pdf" target="_blank">
                                        <span class="show-doc-button__circle">
                                            <span class="icon icon-doc"></span>
                                        </span>
                                    </a>
                                </div>
                                <div class="report-description">
                                    <h3 class="report-description__title">Аудиторское заключение</h3>
                                    <p class="report-description__date">От 30.03.2018</p>
                                    <div class="report-description__download">
                                        <a class="report-description__download-link" target="_blank"
                                           href="/docs/Audit_conclusion_2017.pdf">Скачать</a>
                                    </div>
                                    <div class="report-description__size">35,9 мб.</div>
                                </div>
                            </div>
                        </li>
                        <li class="report-list__item">
                            <div class="report">
                                <div class="report-doc">
                                    <img class="report-doc__image"
                                         src="/images/doc-example.png"
                                         alt="Аудиторское заключение 2018"
                                         width="208"
                                         height="250"/>
                                    <a class="show-doc-button" href="/docs/Audit_conclusion_2018.pdf" target="_blank">
                                        <span class="show-doc-button__circle">
                                            <span class="icon icon-doc"></span>
                                        </span>
                                    </a>
                                </div>
                                <div class="report-description">
                                    <h3 class="report-description__title">Аудиторское заключение</h3>
                                    <p class="report-description__date">От 25.01.2019</p>
                                    <div class="report-description__download">
                                        <a class="report-description__download-link" target="_blank"
                                           href="/docs/Audit_conclusion_2018.pdf">Скачать</a>
                                    </div>
                                    <div class="report-description__size">31 мб.</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="container container--small">
                    <div class="donate-form-wrapper reports-donate-form-wrapper">
                        {% include 'components/donate_form.twig' %}
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
