{% extends 'base_client_wrapper.twig' %}

{% block title %}БФ “Помогите Детям” | SMS{% endblock %}
{% block desciption %}БФ “Помогите Детям” | SMS{% endblock %}
{% block keywords %}SMS{% endblock %}

{% block content %}
    <main>
        <section class="section hero-large">
            <div class="container">
                <h1 class="hero-large__title">SMS</h1>
                <p class="hero-large__subtitle">Пожертвование с помощью мобильного телефона</p>
            </div>
        </section>
        <div class="bg-purple-line"></div>
        <section class="section contacts section-with-bghearts">
            <div class="container container--small">
                <div class="contacts-wrapper">
                    <div class="contacts-details">
                        <h2 class="contacts-details__title">
                            Мы - Благотворительный фонд помощи детям с ДЦП. Электронный способ приема платежей - ваше
                            спокойствие,
                            наша прозрачность. </h2>
                        <div class="contacts-details-content">   
                        <div class="contacts-details__row-value">                         
<p>Чтобы <strong>внести пожертвование</strong> прямо сейчас отправьте SMS на номер <strong>3443</strong> со словом <strong>ФОНДУ</strong> и через пробел укажите сумму пожертвования.<br></p>

<p>Например, <strong>ФОНДУ 200</strong>. В этом случае Вы пожертвуете 200 рублей. Если отправите просто слово <strong>ФОНДУ</strong> без указания суммы, то с Вашего телефона спишется 100 рублей.<br></p>


<p>Чтобы Ваша поддержка была регулярной, отправьте SMS на <strong>3443</strong> текстом: <strong>ФОНДУ 200 ПОДПИСКА</strong> и Вам ежемесячно будет приходить SMS-напоминание с просьбой подтвердить данный платеж. Чтобы отписаться от регулярного пожертвования, отправьте SMS на <strong>3443</strong> с текстом <strong>ФОНДУ СТОП</strong>.<br></p>

<p>Допустимый размер пожертвования — от 10 до 5 000 рублей. Стоимость отправки SMS на <strong>3443</strong> – бесплатно. Комиссия с абонента - 0%. Услуга доступна для абонентов МТС, Билайн, Мегафон, Теле2.<br><a href="http://info.gmmobile.ru">Техническая поддержка сервиса осуществляется компанией GmMobile.ru</a></p>
<hr>
<p><strong>Информация для абонентов:</strong></p>
<img src="/images/operators.png" alt="Операторы сотовой связи">
<p>МТС Договор оферты: <a href="http://static.mts.ru/uploadmsk/contents/1655/soglashenie_easy_pay.pdf">Ссылка</a><br>
ТЕЛЕ2 Договор оферты: <a href="https://market.tele2.ru/offer/">Ссылка</a><br>
БИЛАЙН Договор оферты: <a href="https://static.beeline.ru/upload/dpcupload/images/help/Docs/Limity_pri_oplate_tovarov.pdf">Ссылка</a><br>
МЕГАФОН Комиссия с абонента — 0%. Договор оферты: <a href="http://moscow.megafon.ru/popups/oferta_m_payment.html">Ссылка</a></p>
                              </div>                                                        
                        </div>
                    </div>                
                </div>
            </div>
        </section>
    </main>
{% endblock %}
