{% extends 'base_panel_wrapper.twig' %}

{% import 'panel/users/table.twig' as table %}

{% block content %}
    <div class="container">
        {% include 'panel/menu.twig' %}
        <div class="row" style="background-color: #f1f2f3; padding: 20px 40px;">
            <div class="col-sm">
                <h1>Пользователи:</h1>
                {{ table.table(users) }}
            </div>
        </div>
    </div>
{% endblock %}
