{% extends 'base_client_wrapper.twig' %}

{% block content %}
    <main>
        <section class="section hero-large">
            <div class="container">
                <h1 class="hero-large__title">Вам нужна помощь?</h1>
            </div>
        </section>
        <div class="bg-purple-line"></div>
        <section class="section help section-with-bghearts">
            <div class="container">
                <div class="help-wrapper">
                    <div class="help-details">
                        <div class="help-details-content">
                            <div class="help-details-content__col">
                                <h2 class="help-details__title">Обратиться за помощью</h2>
                                <p class="help-details__notice">
                                    Если Вашему ребенку необходима помощь, отправьте перечень документов, приведенный ниже, на нашу
                                    электронную почту для предварительного рассмотрения заявления.<br /><br />
                                    Сбор средств на реабилитацию осуществляется только в том регионе, в котором проживает ребенок.<br /><br />
                                    Обращаем ваше внимание, что просьбы рассматриваются только после получения фондом полного пакета
                                    указанных документов.
                                </p>
                            </div>
                            <div class="help-details-content__col">
                                <img src="/images/mother-with-child.png" alt="Ребенок с мамой" width="270" height="292" />
                            </div>
                        </div>
                    </div>
                    <div class="help-docs">
                        <p class="help-docs__title"></p>
                        <ul class="help-docs-list">
                            <li class="help-docs-list__item">
                                <div class="document-item">
                                    <div></div>
                                    <div>
                                        <b>Перечень необходимых документов:</b>
                                    </div>
                                </div>
                            </li>
                            <li class="help-docs-list__item">
                                <div class="document-item">
                                    <div class="document-item__icon"><span class="icon icon-blank"></span></div>
                                    <div class="document-item__title">
                      <span class="document-item__title-link"
                      >История о ребенке и о проблеме, с которой Вы столкнулись в формате Docs</span
                      >
                                    </div>
                                </div>
                            </li>
                            <li class="help-docs-list__item">
                                <div class="document-item">
                                    <div class="document-item__icon"><span class="icon icon-blank"></span></div>
                                    <div class="document-item__title">
                                        <span class="document-item__title-link">Копия паспорта одного из родителей</span>
                                    </div>
                                </div>
                            </li>
                            <li class="help-docs-list__item">
                                <div class="document-item">
                                    <div class="document-item__icon"><span class="icon icon-blank"></span></div>
                                    <div class="document-item__title">
                                        <span class="document-item__title-link">Копия свидетельства о рождении ребёнка</span>
                                    </div>
                                </div>
                            </li>
                            <li class="help-docs-list__item">
                                <div class="document-item">
                                    <div class="document-item__icon"><span class="icon icon-blank"></span></div>
                                    <div class="document-item__title">
                                        <span class="document-item__title-link">Копия справки об инвалидности ребенка (МСЭ)</span>
                                    </div>
                                </div>
                            </li>
                            <li class="help-docs-list__item">
                                <div class="document-item">
                                    <div class="document-item__icon"><span class="icon icon-blank"></span></div>
                                    <div class="document-item__title">
                      <span class="document-item__title-link"
                      >Копии последних медицинских выписок, подтверждающих диагноз (выписной эпикриз, заключение
                        врача)</span
                      >
                                    </div>
                                </div>
                            </li>
                            <li class="help-docs-list__item">
                                <div class="document-item">
                                    <div class="document-item__icon"><span class="icon icon-blank"></span></div>
                                    <div class="document-item__title">
                      <span class="document-item__title-link"
                      >Контактные данные: телефон, e-mail, фактический адрес</span
                      >
                                    </div>
                                </div>
                            </li>
                            <li class="help-docs-list__item">
                                <div class="document-item">
                                    <div class="document-item__icon"><span class="icon icon-blank"></span></div>
                                    <div class="document-item__title">
                                        <span class="document-item__title-link">Банковские реквизиты</span>
                                    </div>
                                </div>
                            </li>
                            <li class="help-docs-list__item">
                                <div class="document-item">
                                    <div class="document-item__icon"><span class="icon icon-blank"></span></div>
                                    <div class="document-item__title">
                                        <span class="document-item__title-link">4 фотографии в вертикальной ориентации.</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="application-button-wrapper">
                            <a class="btn btn-dark application-button js-application-button" href="mailto:fond.detyam@mail.ru"
                            >Оставить заявку</a
                            >
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
