{% extends 'base_client_wrapper.twig' %}

{% block content %}

    <main>
        <section class="section hero-large">
            <div class="container">
                <h1 class="hero-large__title">Личный кабинет</h1>
                <p class="hero-large__subtitle">Добрый день, Иван Иванович!</p>
            </div>
        </section>
        <div class="bg-purple-line"></div>
        <section class="section account section-with-bghearts">
            <div class="container container--small">
                <div class="account-wrapper">
                    <div class="account-nav">
                        <nav class="account-navbar">
                            <ul class="account-links">
                                <li class="account-links__item">
                                    <a href="/dist/account.html" class="account-links__item-link">Главная</a>
                                </li>
                                <li class="account-links__item account-links__item--active">
                                    <a href="/dist/my-account.html" class="account-links__item-link">Мой аккаунт</a>
                                </li>
                                <li class="account-links__item">
                                    <a href="/dist/history.html" class="account-links__item-link">Мои пожертвования</a>
                                </li>
                                <li class="account-links__item">
                                    <a href="/dist/referrals.html" class="account-links__item-link">Реферальная программа</a>
                                </li>
                                <li class="account-links__item">
                                    <a href="/dist/recurrents.html" class="account-links__item-link">Регулярные платежи</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="account-content my-account">
                        <h1 class="account-content__title my-account-title account-content-padding">Мой аккаунт</h1>
                        <div class="my-account-form-wrapper account-content-padding">
                            <form class="my-account-form js-my-account-form" action="#" method="GET">
                                <div class="my-account-row">
                                    <label class="my-account-form-field my-account-form-fio">
                                        <div class="my-account-form-field__label label-text">Ваше ФИО</div>
                                        <input
                                            class="my-account-form-input my-account-form-input--big input-rounded"
                                            type="text"
                                            name="fio"
                                            value="Иванов Иван Иванович"
                                        />
                                    </label>
                                </div>
                                <div class="my-account-row">
                                    <label class="my-account-form-field my-account-form-phone">
                                        <div class="my-account-form-field__label label-text">Ваш номер телефона</div>
                                        <input
                                            class="my-account-form-input input-rounded"
                                            type="text"
                                            name="phone"
                                            placeholder="Введите номер телефона"
                                            data-type="phone"
                                        />
                                    </label>
                                </div>
                                <div class="my-account-row">
                                    <label class="my-account-form-field my-account-form-email">
                                        <div class="my-account-form-field__label label-text">Ваша почта</div>
                                        <input
                                            class="my-account-form-input input-rounded"
                                            type="email"
                                            name="email"
                                            value="ivan@mail.ru"
                                        />
                                    </label>
                                </div>
                                <div class="my-account-row">
                                    <label class="my-account-form-field my-account-form-reflink">
                                        <div class="my-account-form-field__label label-text">Ваша реферальная ссылка</div>
                                        <input
                                            class="my-account-form-input my-account-form-input--big input-rounded"
                                            type="text"
                                            name="reflink"
                                            value="http://помогитедетям.рф/rwWsesd"
                                        />
                                        <span class="icon icon-copy my-account-form-reflink__copy"></span>
                                    </label>
                                </div>
                                <div class="my-account-row">
                                    <label class="my-account-form-field my-account-form-password">
                                        <div class="my-account-form-field__label label-text">Пароль</div>
                                        <input
                                            class="my-account-form-input input-rounded"
                                            type="password"
                                            name="password"
                                            placeholder="Ваш старый пароль"
                                        />
                                    </label>
                                    <button class="btn btn-link" type="button">Изменить</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock %}
