{% extends 'base_client_wrapper.twig' %}

{% block content %}

    <main>
        <section class="section hero-small">
            <div class="container">
                <h1 class="hero-small__title">Наши новости</h1>
                <p class="hero-small__subtitle">Тут все наши новости</p>
            </div>
        </section>
        <section class="section news-cards section-with-bghearts">
            <div class="container container-pagecontent-padding">
                <h2 class="news-title">Самые последние новости</h2>
                <ul class="aid-list news-card-list">
                    <li class="aid-list__item news-card-list__item">
                        <div class="aid-card news-card">
                            <img class="aid-card__photo news-card__banner" src="/images/news-banner.png" alt="Конгресс" />
                            <div class="aid-card__description news-card__content">
                                <p class="aid-card__description-name news-card__content-title">Наша первая новость!</p>
                                <p class="aid-card__description-diagnosis news-card__content-text">
                                    Это первая новость на сайте! Это первая новость на сайте! Это первая новость на сайте! Это первая
                                    новость на сайте!
                                </p>
                                <p class="news-card__content-pubdate">12.12.2018</p>
                            </div>
                        </div>
                    </li>
                    <li class="aid-list__item news-card-list__item">
                        <div class="aid-card news-card">
                            <img class="aid-card__photo news-card__banner" src="/images/news-banner.png" alt="Конгресс" />
                            <div class="aid-card__description news-card__content">
                                <p class="aid-card__description-name news-card__content-title">Наша первая новость!</p>
                                <p class="aid-card__description-diagnosis news-card__content-text">
                                    Это первая новость на сайте! Это первая новость на сайте! Это первая новость на сайте! Это первая
                                    новость на сайте!
                                </p>
                                <p class="news-card__content-pubdate">12.12.2018</p>
                            </div>
                        </div>
                    </li>
                    <li class="aid-list__item news-card-list__item">
                        <div class="aid-card news-card">
                            <img class="aid-card__photo news-card__banner" src="/images/news-banner.png" alt="Конгресс" />
                            <div class="aid-card__description news-card__content">
                                <p class="aid-card__description-name news-card__content-title">Наша первая новость!</p>
                                <p class="aid-card__description-diagnosis news-card__content-text">
                                    Это первая новость на сайте! Это первая новость на сайте! Это первая новость на сайте! Это первая
                                    новость на сайте!
                                </p>
                                <p class="news-card__content-pubdate">12.12.2018</p>
                            </div>
                        </div>
                    </li>
                    <li class="aid-list__item news-card-list__item">
                        <div class="aid-card news-card">
                            <img class="aid-card__photo news-card__banner" src="/images/news-banner.png" alt="Конгресс" />
                            <div class="aid-card__description news-card__content">
                                <p class="aid-card__description-name news-card__content-title">Наша первая новость!</p>
                                <p class="aid-card__description-diagnosis news-card__content-text">
                                    Это первая новость на сайте! Это первая новость на сайте! Это первая новость на сайте! Это первая
                                    новость на сайте!
                                </p>
                                <p class="news-card__content-pubdate">12.12.2018</p>
                            </div>
                        </div>
                    </li>
                    <li class="aid-list__item news-card-list__item">
                        <div class="aid-card news-card">
                            <img class="aid-card__photo news-card__banner" src="/images/news-banner.png" alt="Конгресс" />
                            <div class="aid-card__description news-card__content">
                                <p class="aid-card__description-name news-card__content-title">Наша первая новость!</p>
                                <p class="aid-card__description-diagnosis news-card__content-text">
                                    Это первая новость на сайте! Это первая новость на сайте! Это первая новость на сайте! Это первая
                                    новость на сайте!
                                </p>
                                <p class="news-card__content-pubdate">12.12.2018</p>
                            </div>
                        </div>
                    </li>
                    <li class="aid-list__item news-card-list__item">
                        <div class="aid-card news-card">
                            <img class="aid-card__photo news-card__banner" src="/images/news-banner.png" alt="Конгресс" />
                            <div class="aid-card__description news-card__content">
                                <p class="aid-card__description-name news-card__content-title">Наша первая новость!</p>
                                <p class="aid-card__description-diagnosis news-card__content-text">
                                    Это первая новость на сайте! Это первая новость на сайте! Это первая новость на сайте! Это первая
                                    новость на сайте!
                                </p>
                                <p class="news-card__content-pubdate">12.12.2018</p>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="show-more">
                    <button class="btn btn--big show-more__button js-show-more-news">Показать еще</button>
                </div>
            </div>
            <div class="container container--small">
                <div class="donate-form-wrapper news-cards-donate-form-wrapper">
                    <form action="/dist/online-help.html" method="GET" class="donate-form">
                        <div class="donate-form-row">
                            <div class="donate-form-row__col donate-form-title">Я хочу пожертвовать</div>
                            <div class="donate-form-row__col donate-sum-fieldgroup toggle-fieldgroup">
                                <label class="donate-sum-fieldgroup__label toggle-field">
                                    <input class="toggle-field__input" type="radio" name="sum" value="100" checked />
                                    <div class="toggle-field__text">100 Р</div>
                                </label>
                                <label class="donate-sum-fieldgroup__label toggle-field">
                                    <input class="toggle-field__input" type="radio" name="sum" value="100" />
                                    <div class="toggle-field__text">500 Р</div>
                                </label>
                                <label class="donate-sum-fieldgroup__label">
                                    <input class="donate-text-field" type="text" name="sum-other" value="" placeholder="Другая сумма" />
                                </label>
                            </div>
                            <button class="donate-form-row__col btn btn-dark donate-form-submit js-donate-form-submit">
                                <span class="donate-form-submit__text">Пожертвовать</span> <span class="icon icon-arrow-right"></span>
                            </button>
                        </div>
                        <div class="donate-form-row">
                            <div class="donate-form-payment-systems">
                                <div class="donate-form-payment-systems__cards">
                                    <span class="donate-form-payment-systems__cards-title">Оплата с карты</span>
                                    <ul class="payment-system-list">
                                        <li class="payment-system-list__item">
                                            <img class="ps-mastercard" src="/images/mastercard.png" alt="Mastercard" width="20" />
                                        </li>
                                        <li class="payment-system-list__item">
                                            <img class="ps-visa" src="/images/visa.png" alt="visa" width="24" />
                                        </li>
                                        <li class="payment-system-list__item">
                                            <img class="ps-mir" src="/images/mir.png" alt="mir" width="24" />
                                        </li>
                                    </ul>
                                </div>
                                <div class="donate-form-payment-systems__notice">
                                    <div class="icon-wrapper"><span class="icon icon-lock"></span></div>
                                    <span>
                      Все сделки защищены SSL, PSI DSS, <br />
                      Персональные данные конфиденциальны.
                    </span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </main>

{% endblock %}
