{% extends 'base_client_wrapper.twig' %}

{% block content %}
    <main>
        <section class="section hero-medium">
            <div class="container child-container">
                <h1 class="hero-medium__title">Дети</h1>
                <a class="link-back" href="/dist/kids.html"><span class="icon icon-arrow-angle-right"></span>К списку
                    детей</a>
            </div>
        </section>
        <section class="section child section-with-bghearts">
            <div class="container child-container">
                <div class="child-wrapper">
                    <div class="card-child-wrapper">
                        <div class="card-child">
                            <div class="card-child__col">
                                <div class="card-child-photos">
                                    <div class="card-child-photos__main">
                                        <img class="img-responsive" src="/images/card-child-big.png" alt="Ваня Иванов"
                                             width="382">
                                    </div>
                                    <div class="card-child-photos__list photo-gallery">
                                        <img class="photo-gallery__item photo-gallery__item--active img-responsive"
                                             src="/images/card-child-small.png"
                                             alt="Ваня Иванов" width="59">
                                        <img class="photo-gallery__item img-responsive"
                                             src="/images/card-child-small.png" alt="Ваня Иванов" width="59">
                                        <img class="photo-gallery__item img-responsive"
                                             src="/images/card-child-small.png" alt="Ваня Иванов" width="59">
                                    </div>
                                </div>
                            </div>
                            <div class="card-child__col card-child-description">
                                <div class="card-child-name">Ваня Иванов</div>
                                <div class="card-child-field">
                                    <div class="card-child-field__title">Возраст:</div>
                                    <div class="card-child-field__value">6 лет</div>
                                </div>
                                <div class="card-child-field">
                                    <div class="card-child-field__title">Диагноз:</div>
                                    <div class="card-child-field__value card-child-field__value--full">
                                        Детский церебральный паралич.
                                        <br>
                                        Спастический тетрапарез.
                                    </div>
                                </div>
                                <div class="card-child-field">
                                    <div class="card-child-field__title">Комментарий:</div>
                                    <div class="card-child-field__value card-child-field__value--full">
                                        Здравствуйте! Меня зовут Фамилия Имя, мне 25 лет. В 2016 году в нашей семье
                                        произошла беда. Моему сыну в
                                        год
                                        поставили страшный диагноз ДЦП, спастическая диплегия, гипоксически-ишемический
                                        генез, расходящееся
                                        косоглазие. Сопуствующим заболеванием является бронхиальная астма. Сейчас ему 2
                                        года, он сам практически не
                                        сидит и не ходит. Ваню я воспитываю одна, папы у нас нет. (бросил нас, когда сын
                                        еще не родился). После
                                        первого посещения в РЦ Больница г.Россия он начал сам переворачиваться. Это уже
                                        достижение для нас. Если
                                        интенсивно лечиться и не запускать, то врачи прогнозируют нам выздоровление. Я
                                        очень надеюсь, что с вашей
                                        помощью мой сынок встанет на ножки!
                                    </div>
                                </div>
                                <div class="card-child-collected collected-resources">
                                    <div class="collected-resources-left">
                                        <span class="collected-resources-left__title">Необходимо собрать:</span>
                                        <span class="collected-resources-left__value">20 000 руб.</span>
                                    </div>
                                    <div class="collected-resources__slider">
                                        <div class="collected-resources__slider-filled"></div>
                                    </div>
                                    <div class="collected-resources__sum">
                                        <span class="collected-resources__sum-notice">Осталось собрать:</span>
                                        <span class="collected-resources__sum-value">9 000 руб.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <form class="child-help-form" action="/dist/online-help.html" method="GET">
                            <h3 class="child-help-form__title">Помочь прямо сейчас</h3>
                            <div class="child-help-form-row">
                                <div
                                    class="child-help-form__col child-help-form__col-label ohf-col-label__notice-title">
                                    Выберите способ оплаты
                                </div>
                                <div class="child-help-form__col child-help-form__col-input ohf-col-input">
                                    <div class="payment-type-fieldgroup toggle-fieldgroup toggle-fieldgroup--white">
                                        <label class="payment-type-fieldgroup__label toggle-field">
                                            <input class="toggle-field__input" type="radio" name="payment-type"
                                                   value="visa" checked="">
                                            <div class="toggle-field__text">
                                                <img class="toggle-field__text-image" src="/images/mastercard.png"
                                                     width="30">
                                                <img class="toggle-field__text-image" src="/images/visa.png" width="40">
                                            </div>
                                        </label>
                                        <label class="payment-type-fieldgroup__label toggle-field">
                                            <input class="toggle-field__input" type="radio" name="payment-type"
                                                   value="internet-services">
                                            <div class="toggle-field__text">Интернет сервисы</div>
                                        </label>
                                        <label class="payment-type-fieldgroup__label toggle-field">
                                            <input class="toggle-field__input" type="radio" name="payment-type"
                                                   value="sms">
                                            <div class="toggle-field__text">Sms оплата</div>
                                        </label>
                                        <label class="payment-type-fieldgroup__label toggle-field">
                                            <input class="toggle-field__input" type="radio" name="payment-type"
                                                   value="account">
                                            <div class="toggle-field__text">Выставление счета</div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="donate-form-payment-systems__notice child-help-form__notice">
                                <div class="icon-wrapper">
                                    <span class="icon icon-lock"></span>
                                </div>
                                <div class="child-help-form__notice-text">Мы производим сбор средств только при оплате
                                    электронными способами и
                                    с прозрачной отчетностью.
                                </div>
                            </div>
                            <div class="child-help-form__buttons">
                                <button
                                    class="btn btn-dark btn--big child-help-form__submit js-child-help-form-button-submit"
                                    type="submit">
                                    Далее
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="child-contacts">
                        <div class="contacts-details__row child-contacts__row">
                            <div class="contacts-details__row-name child-contacts-title">Прямые реквизиты для помощи
                            </div>
                            <div class="contacts-details__row-value child-contacts-value">
                                Чувашское отделение №8613<br>
                                ПАО СБЕРБАНК г. Чебоксары<br>
                                К/С: 30101810300000000609<br>
                                БИК: 049706609<br>
                                Счет: 40703810675000000543<br>
                            </div>
                        </div>
                        <div class="contacts-details__row child-contacts__row">
                            <div class="contacts-details__row-name child-contacts-title">Контакты для связи если у вас
                                возникли вопросы
                            </div>
                            <div class="contacts-details__row-value child-contacts-value">
                                Телефон Фамилия Имя (мама):<br>
                                8 (999) 999 99 99<br>
                                <br>
                                Телефон горячей линии:<br>
                                8 (800) 600 09 06<br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
