{% extends 'base.html.twig' %}

{% block body %}
<form style="display: none" action="https://wpay.uniteller.ru/pay/" method="POST">
    {% for key, value in fields %}
        <input type="hidden" name="{{ key }}" value="{{ value }}">
    {% endfor %}

    <input type="submit" name="Submit" value="Оплатить">
</form>
{% endblock %}
<script type="text/javascript">
    window.onload = function () {
        document.forms[0].submit();
    }
</script>
