{% extends 'base_client_wrapper.twig' %}

{% block title %}БФ “Помогите Детям” | Онлайн помощь{% endblock %}
{% block desciption %}БФ “Помогите Детям” | Онлайн помощь{% endblock %}
{% block keywords %}Онлайн помощь{% endblock %}

{% block content %}
    <main>
        <section class="section hero-large" style="height: auto;"><div class="container container--small th-cont">
                <div class="online-help-wrapper th-w">

                        <div class="ohf-row" style="display: grid;">
                            <h1>СПАСИБО<img src="/images/emoji-heart.png" style="height: 4rem;"></h1>
                            <p>Благодарим Вас за поддержку фонда и внимание к проблеме ДЦП.<br>Принимайте активное участие в жизни фонда:</p>
                        </div>

                        <div class="ohf-row th-row">
                            <div>
                                <img src="/icons/mail_not.png" style="position: relative;left: 50px;">
                            </div>
                            <div class="th_col ohf-col-input">
                                <div class="ohf-col-input__row">
                                    <h3>Активируйте аккаунт</h3>
                                    <p>Если вы впервые совершаете пожертвование, подтвердите e-mail.<br> Мы отправили вам письмо.</p>
                                </div>
                            </div>
                        </div>
                        <div class="ohf-row th-row" style="direction: rtl;">
                            <div class="th_col ohf-col-label">
                                <img src="/images/bear.png" id="bear">
                            </div>
                            <div class="th_col th-col-input">
                                <div class="th-col-label__number">2</div>
                                <div class="ohf-col-input__row" style="direction: ltr;">
                                    <h3>Давайте дружить</h3>
                                    <p>Подпишитесь на наши аккаунты в социальных сетях. Там мы рассказываем о событиях и жизни фонда.</p>
                                        <div class="th-socialbar">
                                            <ul class="socialbar-links">
                                                <li class="socialbar-links__item">
                                                    <a href="https://vk.com/pomogite.detyam" target="_blank" class="socialbar-links__item-link">
                                                        <span class="icon icon-vk-gray"></span>
                                                    </a>
                                                </li>
                                                <li class="socialbar-links__item">
                                                    <a href="https://www.facebook.com/Благотворительный-фонд-Помогите-детям-297299794535021/" target="_blank" class="socialbar-links__item-link">
                                                        <span class="icon icon-facebook-gray"></span>
                                                    </a>
                                                </li>
                                                <li class="socialbar-links__item">
                                                    <a href="https://www.instagram.com/pomogite.detyam/" target="_blank" class="socialbar-links__item-link">
                                                        <span class="icon icon-instagram-gray"></span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="ohf-row th-row">
                            <div class="th_col ohf-col-label">
                                <img src="/images/thanks_phone.png" style="position: relative;left: 17px;">
                            </div>
                            <div class="th_col ohf-col-input">
                                <div class="ohf-col-input__row">
                                    <h3>Делитесь достижениями!</h3>
                                    <p>Вы можете поделиться своими достижениями в социальных сетях, разместив персональный банер.</p>
                                    <p>Если Вы уже активировали аккаунт, перейдите по ссылке ниже и расскажите своему окружению как легко можно помогать детям с ДЦП.</p>
                                    <p><a href="/account/referrals">Получить свой баннер </a></p>
                                </div>
                            </div>
                        </div>
            </div></section>
        <section class="section online-help section-with-bghearts">
            
        </section>
    </main>
    
{% endblock %}
