{% extends 'base_client_wrapper.twig' %}

{% block title %}{% endblock %}
{% block desciption %}{% endblock %}
{% block keywords %}{% endblock %}

{% block content %}
    <main>
        <section class="section hero-medium">
            <div class="container news-detail-container">
                <h1 class="hero-medium__title">Новости</h1>
                <a class="link-back" href="{{ path('news_list') }}"><span class="icon icon-arrow-angle-right"></span>К списку
                    новостей</a>
            </div>
        </section>
        <section class="section news-detail section-with-bghearts">
            <div class="container news-detail-container">
                <div class="news-detail-wrapper">
                    <div class="card-news-detail-wrapper">
                        <h2 class="news-detail__title">Наша первая новость!</h2>
                        <p class="news-detail__pubdate">12.12.2018</p>
                        <div class="news-detail__banner">
                            <img class="img-responsive news-detail__banner-img"
                                src="/images/news-banner.png"
                                alt="Конгресс">
                        </div>
                        <div class="news-detail__content">
                            IPhone — серия смартфонов, разработанных корпорацией Apple. Работают под управлением
                            операционной
                            системы iOS, представляющей собой упрощённую и оптимизированную для функционирования на
                            мобильном
                            устройстве версию macOS.
                            <br>
                            <br>
                            Впервые iPhone был анонсирован Стивом Джобсом на конференции Macworld Expo 9 января 2007
                            года. Название
                            iPhone образовано от англ. phone (телефон) добавлением буквы i; на презентации Джобс заявил,
                            что это
                            сокращение слова Internet (Интернет), а также сказал, что «эта буква означает для нас и
                            другие вещи» и
                            показал слайд со словами individual, instruct, inform, inspire («личный; обучать; сообщать;
                            вдохновлять»). В продажу аппарат поступил 29 июня 2007 года вместе с iPhone OS и быстро
                            завоевал
                            существенную часть рынка смартфонов в США. Популярность iPhone OS поддержал вышедший в
                            продажу в
                            сентябре того же года iPod touch, обладавший, однако, заметно урезанной функциональностью по
                            сравнению с
                            iPhone.
                            <br>
                            <br>
                            10 июня 2008 года на конференции WWDC 2008 была представлена новая модель — iPhone 3G, более
                            совершенная
                            и лишённая многих аппаратных и программных недостатков предшественника.
                        </div>
                        <div class="share-wrapper">
                            <p class="share-title">Поделиться:</p>
                            <ul class="share-list">
                                <li class="share-list__item">
                                    <a class="share-list__item-link" href="#"><span class="icon icon-social-vk"></span></a>
                                </li>
                                <li class="share-list__item">
                                    <a class="share-list__item-link"
                                        href="#"><span class="icon icon-social-facebook"></span></a>
                                </li>
                                <li class="share-list__item">
                                    <a class="share-list__item-link"
                                        href="#"><span class="icon icon-social-instagram"></span></a>
                                </li>
                            </ul>
                        </div>
                        <div class="last-news">
                            <p class="last-news__title">Будьте в курсе:</p>
                            <div class="last-news-list">
                                <div class="last-news-list__item">
                                    <img class="last-news-list__item-banner" src="/images/news-kids.png" alt="">
                                    <p class="last-news-list__item-title">Наша вторая новость</p>
                                </div>
                                <div class="last-news-list__item">
                                    <img class="last-news-list__item-banner" src="/images/news-kids.png" alt="">
                                    <p class="last-news-list__item-title">Наша вторая новость</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container container--small">
                <div class="donate-form-wrapper news-detail-donate-form-wrapper">
                    {% include 'components/donate_form.twig' %}
                </div>
            </div>
        </section>
    </main>
{% endblock %}
