{% extends 'base_client_wrapper.twig' %}

{% block title %}{% endblock %}
{% block desciption %}{% endblock %}
{% block keywords %}{% endblock %}

{% block content %}
    <main>
        <section class="section hero-small">
            <div class="container">
                <h1 class="hero-small__title">Наши новости</h1>
                <p class="hero-small__subtitle">Тут все наши новости</p>
            </div>
        </section>
        <section class="section news section-with-bghearts">
            <div class="container container--small">
                <h2 class="news-title">Самые последние новости</h2>
                <div class="news-list">
                    <div class="news-list__item">
                        <div class="news-list__item-content">
                            <h3 class="news-list__item-content__title">Наша первая новость!</h3>
                            <p class="news-list__item-content__text">
                                Это первая новость на сайте! Это первая новость на сайте! Это первая новость на сайте!
                                Это первая
                                новость на сайте! Новости – это сообщения о каких-то событиях, которые происходят
                                вокруг. На самом
                                деле, мы окружены различным родом новостей. Это новости из жизни близких или родных.
                                Новости районного
                                значения. Рекомендуем регулярно пополнять инвестиционный портфель. Если не планируете
                                пополнять, то
                                лучше начинать инвестировать с 20 000 . Социальная помощь – одно из направлений нашей
                                деятельности. На
                                каждого ребенка создается индивидуальная программа помощи по его реабилитации и
                                выздоровлению. </p>
                            <time class="news-list__item-content__pubdate">12.12.2018</time>
                        </div>
                        <div class="news-list__item-banner">
                            <img class="img-responsive" src="/images/news-banner.png" alt="Конгресс"/>
                        </div>
                    </div>
                    <div class="news-list__item">
                        <div class="news-list__item-content">
                            <h3 class="news-list__item-content__title">Наша первая новость!</h3>
                            <p class="news-list__item-content__text">
                                Это первая новость на сайте! Это первая новость на сайте! Это первая новость на сайте!
                                Это первая
                                новость на сайте! Новости – это сообщения о каких-то событиях, которые происходят
                                вокруг. На самом
                                деле, мы окружены различным родом новостей. Это новости из жизни близких или родных.
                                Новости районного
                                значения. Рекомендуем регулярно пополнять инвестиционный портфель. Если не планируете
                                пополнять, то
                                лучше начинать инвестировать с 20 000 . Социальная помощь – одно из направлений нашей
                                деятельности. На
                                каждого ребенка создается индивидуальная программа помощи по его реабилитации и
                                выздоровлению. </p>
                            <time class="news-list__item-content__pubdate">12.12.2018</time>
                        </div>
                        <div class="news-list__item-banner">
                            <img class="img-responsive" src="/images/news-banner.png" alt="Конгресс"/>
                        </div>
                    </div>
                    <div class="news-list__item">
                        <div class="news-list__item-content">
                            <h3 class="news-list__item-content__title">Наша первая новость!</h3>
                            <p class="news-list__item-content__text">
                                Это первая новость на сайте! Это первая новость на сайте! Это первая новость на сайте!
                                Это первая
                                новость на сайте! Новости – это сообщения о каких-то событиях, которые происходят
                                вокруг. На самом
                                деле, мы окружены различным родом новостей. Это новости из жизни близких или родных.
                                Новости районного
                                значения. Рекомендуем регулярно пополнять инвестиционный портфель. Если не планируете
                                пополнять, то
                                лучше начинать инвестировать с 20 000 . Социальная помощь – одно из направлений нашей
                                деятельности. На
                                каждого ребенка создается индивидуальная программа помощи по его реабилитации и
                                выздоровлению. </p>
                            <time class="news-list__item-content__pubdate">12.12.2018</time>
                        </div>
                        <div class="news-list__item-banner">
                            <img class="img-responsive" src="/images/news-banner.png" alt="Конгресс">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
