<div class="account-nav">
    <nav class="account-navbar">
        <ul class="account-links">
            <li class="account-links__item account-links__item--active">
                <a href="/account" class="account-links__item-link">Главная</a>
            </li>
            <li class="account-links__item">
                <a href="/account/myaccount" class="account-links__item-link">Мой аккаунт</a>
            </li>
            <li class="account-links__item">
                <a href="/account/history" class="account-links__item-link">Мои пожертвования</a>
            </li>
            <li class="account-links__item">
                <a href="/account/referrals" class="account-links__item-link">Реферальная программа</a>
            </li>
            <li class="account-links__item">
                <a href="/account/recurrent" class="account-links__item-link">Регулярные платежи</a>
            </li>
        </ul>
    </nav>
</div>
