<section class="section hero-large">
    <div class="container">
        <h1 class="hero-large__title">Личный кабинет</h1>
        <p class="hero-large__subtitle">Добрый день, Иван Иванович!</p>
    </div>
</section>
