<form action="/dist/online-help.html" method="GET" class="donate-form">
    <div class="donate-form-row">
        <div class="donate-form-title" >Я хочу помочь</div>
        <div class="donate-form-row__col donate-sum-fieldgroup toggle-fieldgroup">
            <label class="donate-sum-fieldgroup__label toggle-field">
                <input class="toggle-field__input" type="radio" name="sum" value="300" checked>
                <span class="toggle-field__text">300 Р</span>
            </label>
            <label class="donate-sum-fieldgroup__label toggle-field">
                <input class="toggle-field__input" type="radio" name="sum" value="500">
                <span class="toggle-field__text">500 Р</span>
            </label>
            <label class="donate-sum-fieldgroup__label toggle-field">
                <input class="toggle-field__input" type="radio" name="sum" value="700">
                <span class="toggle-field__text">700 Р</span>
            </label>
            <label class="donate-sum-fieldgroup__label">
                <input class="donate-text-field" type="text" name="sum-other" value="" placeholder="Другая сумма" autocomplete="off" />
            </label>
        </div>
        <button class="donate-form-row__col btn btn-dark donate-form-submit js-donate-form-submit" style="padding: 0 20px;">
            <span class="donate-form-submit__text">Пожертвовать</span>
            <span class="icon icon-arrow-right"></span>
        </button>
    </div>
    <div class="donate-form-row" style="margin: 0 auto;">
        <div class="donate-form-payment-systems" style="height: 40px; margin: 0 auto;">
            <div class="donate-form-payment-systems__cards" style="width: 300px; margin: 0;"><div id="paymentByVisa" class="toggle-field__text" style="opacity: 0.7; border-right: none; padding-left: 0; text-align: center; font-size: 1.2rem; color: #707070 !important; text-transform: none; cursor: auto;">
                    <div style="padding-left: 10px; padding-right: 10px;">Оплата с карт</div><img class="toggle-field__text-image" src="/images/Apple_Pay.png" width="50"><img class="toggle-field__text-image" src="/images/Google_Pay.png" width="50"><img class="toggle-field__text-image" src="/images/mastercard.png" width="30"><img class="toggle-field__text-image" src="/images/visa.png" width="40">
                </div>
            </div>
            <div class="donate-form-payment-systems__notice">
                <div class="icon-wrapper">
                    <span class="icon icon-lock"></span>
                </div>
                <span>
                    Все сделки защищены SSL, PSI DSS,<br>
                    Персональные данные конфиденциальны.
                </span>
            </div>
        </div>
    </div>
</form>
