<div class="contacts-details__row">
    <div class="contacts-details__row-name">Банковские реквизиты</div>
    <div class="contacts-details__row-value">
        Чувашское отделение №8613<br>
        ПАО СБЕРБАНК г. Чебоксары<br>
        К/С: 30101810300000000609<br>
        БИК: 049706609<br>
        Счет: 40703810675000000543<br>
    </div>
</div>
