<div class="contacts-details__row">
    <div class="contacts-details__row-name">Реквизиты фонда</div>
    <div class="contacts-details__row-value">
        Полное наименование Благополучателя: Благотворительный фонд помощи детям «Помогите
        детям»<br>
        Краткое название Благополучателя: БФ помощи детям «Помогите детям»<br>
        Юридический адрес: Россия, Чувашская Республика, г. Новочебоксарск, ул. 10-й
        Пятилетки, владение
        17И<br>
        ОГРН: 1132100001054<br>
        ИНН/КПП: 2124999727/212401001<br>
        <br>
    </div>
</div>
<div class="contacts-details__row">
    <div class="contacts-details__row-name">Банковские реквизиты</div>
    <div class="contacts-details__row-value">
        Чувашское отделение №8613<br>
        ПАО СБЕРБАНК г. Чебоксары<br>
        К/С: 30101810300000000609<br>
        БИК: 049706609<br>
        Счет: 40703810675000000543<br>
    </div>
</div>
