{% extends 'base_client_wrapper.twig' %}

{% block title %}{% endblock %}
{% block desciption %}{% endblock %}
{% block keywords %}{% endblock %}

{% block content %}
    <main>
        <section class="section hero-login">
            <div class="container">
                <div class="login-wrapper">
                    <form class="login-form js-login-form" method="POST">                        
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        <div class="login-form__title">Восстановление пароля</div>
                        <div class="login-form-row">
                            <input type="email"
                                value="{{ last_username|default }}"
                                name="email"
                                id="inputEmail"
                                class="input-rounded"
                                placeholder="Введите ваш E-mail"
                                required
                                autofocus>
                        </div>                        
                        <div class="login-form-row">
                            <button class="btn btn--big btn-dark login-form-submit" type="submit">Восстановить</button>
                        </div>
                        {% if error %}
                            <div class="alert alert-danger new-alert">{{ error }}</div>
                        {% endif %}
                    </form>
                    
                        
                    <div class="another-way-auth__col">
                        <p>или</p>
                        <div>
                            <a href="{{ path('registration') }}" class="auth-link">Зарегистрироваться</a>
                        </div>
                    </div>
                   
                </div>
            </div>
        </section>
    </main>
{% endblock %}
