{% extends 'base_client_wrapper.twig' %}

{% block title %}БФ “Помогите Детям” | Восстановление пароля{% endblock %}
{% block desciption %}БФ “Помогите Детям” | Восстановление пароля{% endblock %}
{% block keywords %}Восстановление{% endblock %}

{% block content %}
    <main>
        <section class="section hero-login">
            <div class="container">
                <div class="login-wrapper">
                    <form class="login-form js-login-form" method="POST">                        
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        <div class="login-form__title">Восстановление пароля</div>
                        <div class="login-form-row">
                            <input type="email"
                                value="{{ last_username|default }}"
                                name="email"
                                id="inputEmail"
                                class="input-rounded"
                                placeholder="Введите ваш E-mail"     
                                onclick="hideError('emailError');"                           
                                autofocus>
                            <div id="emailError" class="form-error-tooltip" style="display: none; width: 100%; position: relative; left:0px;top:-1px;width:200px">
                                <div class="form-error-tooltip__arrow"></div>
                                <p class="form-error-tooltip__notice">Введите правильный email</p>
                            </div>                
                        </div>                                
                        <div class="login-form-row">
                            <button class="btn btn--big btn-dark login-form-submit" type="submit" onclick="return validate_recovery();">Восстановить</button>
                        </div>
                        {% if error %}
                            <div class="alert alert-danger new-alert">{{ error }}</div>
                        {% endif %}
                    </form>
                    
                        
                    <div class="another-way-auth__col">
                        <p>или</p>
                        <div>
                            <a href="{{ path('registration') }}" class="auth-link">Зарегистрироваться</a>
                        </div>
                    </div>
                   
                </div>
            </div>
        </section>
    </main>
{% endblock %}
